#!/usr/bin/make -f

CARGO_HOME ?= $(HOME)/.cargo
RUSTUP_HOME ?= $(HOME)/.rustup
REMAP_RUSTFLAGS = --remap-path-prefix=$(CURDIR)=codexbar-linux --remap-path-prefix=$(HOME)=home --remap-path-prefix=$(CARGO_HOME)=cargo-home --remap-path-prefix=$(RUSTUP_HOME)=rustup-home

%:
	dh $@

override_dh_auto_build:
	env RUSTFLAGS="$${RUSTFLAGS:+$${RUSTFLAGS} }$(REMAP_RUSTFLAGS)" cargo build --manifest-path daemon/Cargo.toml --release --locked

override_dh_auto_test:
	cargo test --manifest-path daemon/Cargo.toml --locked
